body {
	color: beige;
	font-family: 'Grand Hotel', cursive;
	font-size: 30px;
	letter-spacing: .3rem;
	text-align: center;
}

input {
	background: transparent;
	border: none;
	color: turquoise;
	font-size: 40px;
	text-align: center;
}

#submit {
   background: #E0BB97;
   background-image: -webkit-linear-gradient(top, #E0BB97, #C4B5DA);
   background-image: -moz-linear-gradient(top, #E0BB97, #C4B5DA);
   background-image: -ms-linear-gradient(top, #E0BB97, #C4B5DA);
   background-image: -o-linear-gradient(top, #E0BB97, #C4B5DA);
   background-image: -webkit-gradient(to bottom, #E0BB97, #C4B5DA);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

#submit:hover {
   background: #63DBC4;
   border: solid #63DBC4 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
